//颜色
$bgColor = #00bcd4
$darkColor = #ccc

//尺寸
$titleHeight = 0.86rem
$titleHeightSmall = 0.66rem
$baseMargin = 0.15rem

$size01 = 0.1rem
$size02 = 0.2rem
$size03 = 0.3rem
$size04 = 0.4rem
$size05 = 0.5rem
$size06 = 0.6rem
$size08 = 0.8rem
